<section>
  <h2 class="post-title"><%= note.title %></h2>
  <p class="post-meta">
    Created: <%= note.created_at.to_date %>
  </p>
  <div class="post-description">
        <%= note.description %>
        <a href="<%= note.reference_url %>"><%= note.reference_url %></a>
  </div>
</section>
